* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


input, label {
    display: block;
}

.btn {
    border: 2px solid black;
    box-shadow: 2px 2px black;
}